<a href="https://colab.research.google.com/github/ravali217/exploratory-data-analysis/blob/main/4_12_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import numpy as np

categories = ['junior developer', 'senior developer', 'manager']
ss = pd.Series(np.random.choice(categories, 20))

print(ss)

0     senior developer
1     senior developer
2              manager
3     junior developer
4              manager
5     senior developer
6     junior developer
7     junior developer
8              manager
9     junior developer
10    junior developer
11             manager
12             manager
13             manager
14    senior developer
15             manager
16    junior developer
17             manager
18    junior developer
19    senior developer
dtype: object

In [39]:
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')
path='/content/drive/My Drive/loan_approved.csv'
df=pd.read_csv(path)
print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status (Approved)
0               1.0         Urban                      Y
1               1.0         Rural                      N
2               1.0         Urban                      Y
3               1.0         Urban                      Y
4               1.0         Urban                      Y
..              ...           ...                    ...
609             1.0         Rural                      Y
610             1.0         Rural                      Y
611             1.0         Urban                      Y
612             1.0         Urban                      Y
613             0.0     Semiurban                      N

[614 rows x 13 columns]

In [40]:

print(df.shape)

(614, 13)

In [41]:
print(df.dtypes)

Loan_ID                    object
Gender                     object
Married                    object
Dependents                 object
Education                  object
Self_Employed              object
ApplicantIncome             int64
CoapplicantIncome         float64
LoanAmount                float64
Loan_Amount_Term          float64
Credit_History            float64
Property_Area              object
Loan_Status (Approved)     object
dtype: object

In [42]:
df.select_dtypes(include='object').columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status (Approved)'],
      dtype='object')

In [43]:

ordinal = []
nominal = []
for col in df.columns:
    if df[col].dtype == 'object':
        nominal.append(col)
    elif df[col].dtype in ['int64', 'float64']:
        ordinal.append(col)
print("\nNominal Attributes:", nominal)
print("Ordinal / Numeric Attributes:", ordinal)

Nominal Attributes: ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status (Approved)']
Ordinal / Numeric Attributes: ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

In [44]:
ordinal = []
nominal = []
discrete = []
continuous = []

for col in df.columns:

    # NOMINAL (categorical without order)
    if df[col].dtype == 'object':
        nominal.append(col)

    # NUMERIC columns
    elif df[col].dtype in ['int64', 'float64']:

        # DISCRETE → integer values
        if df[col].dtype == 'int64':
            discrete.append(col)

        # CONTINUOUS → decimal values
        if df[col].dtype == 'float64':
            continuous.append(col)

        # ORDINAL → numeric but ordered (you decide manually later)
        ordinal.append(col)

print("Nominal Attributes:", nominal)
print("Ordinal Attributes:", ordinal)
print("Discrete Attributes:", discrete)
print("Continue Attributes:",continuous)

Nominal Attributes: ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status (Approved)']
Ordinal Attributes: ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']
Discrete Attributes: ['ApplicantIncome']
Continue Attributes: ['CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

In [45]:
print(df)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status (Approved)
0               1.0         Urban                      Y
1               1.0         Rural                      N
2               1.0         Urban                      Y
3               1.0         Urban                      Y
4               1.0         Urban                      Y
..              ...           ...                    ...
609             1.0         Rural                      Y
610             1.0         Rural                      Y
611             1.0         Urban                      Y
612             1.0         Urban                      Y
613             0.0     Semiurban                      N

[614 rows x 13 columns]

In [46]:
print(df.dtypes)

Loan_ID                    object
Gender                     object
Married                    object
Dependents                 object
Education                  object
Self_Employed              object
ApplicantIncome             int64
CoapplicantIncome         float64
LoanAmount                float64
Loan_Amount_Term          float64
Credit_History            float64
Property_Area              object
Loan_Status (Approved)     object
dtype: object

In [47]:
print(df.isnull())
print(df.isnull().sum())

     Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
0      False   False    False       False      False          False
1      False   False    False       False      False          False
2      False   False    False       False      False          False
3      False   False    False       False      False          False
4      False   False    False       False      False          False
..       ...     ...      ...         ...        ...            ...
609    False   False    False       False      False          False
610    False   False    False       False      False          False
611    False   False    False       False      False          False
612    False   False    False       False      False          False
613    False   False    False       False      False          False

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0              False              False        True             False
1              False              False       False             False
2              False              False       False             False
3              False              False       False             False
4              False              False       False             False
..               ...                ...         ...               ...
609            False              False       False             False
610            False              False       False             False
611            False              False       False             False
612            False              False       False             False
613            False              False       False             False

     Credit_History  Property_Area  Loan_Status (Approved)
0             False          False                   False
1             False          False                   False
2             False          False                   False
3             False          False                   False
4             False          False                   False
..              ...            ...                     ...
609           False          False                   False
610           False          False                   False
611           False          False                   False
612           False          False                   False
613           False          False                   False

[614 rows x 13 columns]
Loan_ID                    0
Gender                    13
Married                    3
Dependents                15
Education                  0
Self_Employed             32
ApplicantIncome            0
CoapplicantIncome          0
LoanAmount                22
Loan_Amount_Term          14
Credit_History            50
Property_Area              0
Loan_Status (Approved)     0
dtype: int64

In [48]:
median_value = df['LoanAmount'].median()
print("Median Loan Amount:", median_value)

Median Loan Amount: 128.0

In [49]:
import pandas as pd

# Print all values in Loan_Amount_Term
print("All Loan_Amount_Term values:")
print(df['Loan_Amount_Term'])

# Print unique values
unique_values = df['Loan_Amount_Term'].unique()
print("\nUnique Loan_Amount_Term values:")
print(unique_values)

# Total number of unique values
print("\nTotal number of unique Loan_Amount_Term values:", len(unique_values))

All Loan_Amount_Term values:
0      360.0
1      360.0
2      360.0
3      360.0
4      360.0
       ...
609    360.0
610    180.0
611    360.0
612    360.0
613    360.0
Name: Loan_Amount_Term, Length: 614, dtype: float64

Unique Loan_Amount_Term values:
[360. 120. 240.  nan 180.  60. 300. 480.  36.  84.  12.]

Total number of unique Loan_Amount_Term values: 11

In [50]:
import pandas as pd

# Print all values in LoanAmount
print("All LoanAmount values:")
print(df['LoanAmount'])

# Print unique values
unique_values = df['LoanAmount'].unique()
print("\nUnique LoanAmount values:")
print(unique_values)

# Total number of unique values
print("\nTotal number of unique LoanAmount values:", len(unique_values))

All LoanAmount values:
0        NaN
1      128.0
2       66.0
3      120.0
4      141.0
       ...
609     71.0
610     40.0
611    253.0
612    187.0
613    133.0
Name: LoanAmount, Length: 614, dtype: float64

Unique LoanAmount values:
[ nan 128.  66. 120. 141. 267.  95. 158. 168. 349.  70. 109. 200. 114.
  17. 125. 100.  76. 133. 115. 104. 315. 116. 112. 151. 191. 122. 110.
  35. 201.  74. 106. 320. 144. 184.  80.  47.  75. 134.  96.  88.  44.
 286.  97. 135. 180.  99. 165. 258. 126. 312. 136. 172.  81. 187. 113.
 176. 130. 111. 167. 265.  50. 210. 175. 131. 188.  25. 137. 160. 225.
 216.  94. 139. 152. 118. 185. 154.  85. 259. 194.  93. 370. 182. 650.
 102. 290.  84. 242. 129.  30. 244. 600. 255.  98. 275. 121.  63. 700.
  87. 101. 495.  67.  73. 260. 108.  58.  48. 164. 170.  83.  90. 166.
 124.  55.  59. 127. 214. 240.  72.  60. 138.  42. 280. 140. 155. 123.
 279. 192. 304. 330. 150. 207. 436.  78.  54.  89. 143. 105. 132. 480.
  56. 159. 300. 376. 117.  71. 490. 173.  46. 228. 308. 236. 570. 380.
 296. 156. 103.  45.  65.  53. 360.  62. 218. 178. 239. 405. 148. 190.
 149. 153. 162. 230.  86. 234. 246. 500. 186. 119. 107. 209. 208. 243.
  40. 250. 311. 400. 161. 196. 324. 157. 145. 181.  26. 211.   9. 205.
  36.  61. 146. 292. 142. 350. 496. 253.]

Total number of unique LoanAmount values: 204

In [51]:
import pandas as pd

# Mean of Loan_Amount_Term
mean_value = df['Loan_Amount_Term'].mean()
print("Mean of Loan_Amount_Term:", mean_value)

# Median of Loan_Amount_Term
median_value = df['Loan_Amount_Term'].median()
print("Median of Loan_Amount_Term:", median_value)

Mean of Loan_Amount_Term: 342.0
Median of Loan_Amount_Term: 360.0

In [52]:
print(df.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status (Approved)
0             1.0         Urban                      Y
1             1.0         Rural                      N
2             1.0         Urban                      Y
3             1.0         Urban                      Y
4             1.0         Urban                      Y

In [53]:
mean_value = df['Credit_History'].mean()
print("Mean of Credit_History:", mean_value)

# Median of Credit_History
median_value = df['Credit_History'].median()
print("Median of Credit_History:", median_value)

Mean of Credit_History: 0.8421985815602837
Median of Credit_History: 1.0